{% extends 'Base.html' %}
{% load static %}

{% block main %}
    <form class="text-center p-5 custom-form" data-url="/accounts/forgot_password_send_email/" method="post" id="forgot-password-form">
        {% csrf_token %}

        <p class="h4 mb-2">Password assistance</p>
        <p class="h6 mb-4">Enter the email address associated with your Shop account.</p>
        <!-- E-mail -->
        <input type="email" id="ForgotPasswordFormEmail" class="form-control" placeholder="* E-mail" name="email">
        <!-- Forgot password submit -->
        <button id="button-submit" class="btn btn-outline-success my-4 btn-block" type="submit">Continue</button>

    </form>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/registration/forgot_password.js' %}"></script>
{% endblock %}