{% extends 'Base.html' %}
{% load static %}

{% block main %}
    <form class="text-center p-5 custom-form" data-url="/accounts/change_password_success?id={{ id }}" id="change-password-form">
        {% csrf_token %}

        <p class="h4 mb-2">Change Password</p>
        <div class="form-row mb-2 mt-4">
            <div class="col">
                <!-- Password-->
                <input type="password" id="ChangePasswordFormPassword" class="form-control" placeholder="* Password"
                       name="password">
            </div>
            <div class="col">
                <!-- Confirm password -->
                <input type="password" id="ChangePasswordFormConfirmPassword" class="form-control"
                       placeholder="* Confirm Password" name="confirm_password">
            </div>
        </div>
        <small id="RegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
            At least 8 characters and 1 digit
        </small>
        <!-- Forgot password submit -->
        <button id="button-submit" class="btn btn-outline-success my-4 btn-block" type="submit">Continue</button>

    </form>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'js/registration/change_password.js' %}"></script>
{% endblock %}